# Ignorar entornos virtuales
venv/

# Ignorar archivos de configuración de entorno
.env

# Ignorar archivos y carpetas de caché de Python
__pycache__/
*.py[cod]

# Ignorar configuraciones específicas del editor
.vscode/
.idea/
